name: system_audio_visualizer
description: A Windows audio visualizer plugin using WASAPI loopback capture, FFT processing, and customizable Flutter visualizers.
version: 0.0.1
homepage: https://github.com/yourname/system_audio_visualizer

environment:
  sdk: ^3.10.1
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      windows:
        pluginClass: SystemAudioVisualizerPluginCApi
